@model IEnumerable<API.Models.Region>

@{
    ViewData["Title"] = "Index";
}

<div class="container">
    <h1 align="center">Region Data</h1>
    <p>
        <a class="btn btn-default" data-toggle="modal" data-target="#ModalData" onclick="Create()">Create New</a>
    </p>
    <div id="container-body">
        <table class="table table-hover" id="dataTable">
            <thead>
                <tr>
                    <th scope="col">No</th>
                    <th scope="col">Name</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody id="bodyRegion"></tbody>
        </table>
    </div>
</div>

@*<h1>Index</h1>

    <p>
        <a asp-action="Create">Create New</a>
    </p>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
    @foreach (var item in Model) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
    }
        </tbody>
    </table>*@

@section Scripts {
    <script src="~/js/Region/Index.js"></script>
}